* {
    margin: 0;
    padding: 0;
}

/* Variaveis */
:root {
    --Green: hsl(75, 94%, 57%);
    --Blue: hsl(228, 45%, 44%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

body,
.container,
.profile,
.button-card {
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--Off-Black);
    color: var(--White);
    min-height: 100vh;
    padding: 1.8rem 3rem;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--Dark-Grey);
    padding: 1.4rem;
    width: 18rem;
    min-height: 27rem;
    border-radius: 0.3rem;
    margin: auto;
}

.profile {
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}

.profile img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 0.8rem;
    object-fit: cover;
}

.title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.location {
    color: var(--Green);
    font-size: 0.8rem;
    margin-bottom: 1.1rem;
    font-weight: bold;
}

.self-description {
    font-size: 0.65rem;
    margin-bottom: 2rem;
    /* letter-spacing: em; */
}

.button {
    background-color: var(--Grey);
    color: var(--White);
    padding: 0.6rem 0.8rem;
    /* border: none; */
    border-radius: 0.4rem;
    margin-bottom: 0.6rem;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.button:hover {
    background-color: var(--Green);
    color: var(--Off-Black);
}

.button:focus {
    outline: 2px solid var(--Green);
}

footer {
    font-size: 11px;
}

footer a {
    color: var(--Green)
}

/**
max -> <= 375px
min -> >= 375px
*/
@media only screen and (max-width: 375px) {
    .container {
        /* background-color: aqua; */
        width: 200px;
    }

    .self-description {
        font-size: 0.8rem;
        font-weight: bold;
    }
}
